@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/poppins');
/* 1200 x 780 */
body{
    margin: 0;
    font-size: 15px;
    background-color: darkslategray;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
svg{
    color: #fff;
}
:root{
    --width-default: min(1200px, 90vw);
    --diameter: 1432px;
}









.logo img{
    width: 50px;
}

.slider{
    /* background-color: red; */
    color: #eee;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: -70px;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    text-align: left;
    gap: 80px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: Poppins;
    text-shadow: 0 0 80px #000;
}
.slider .list .item .content h2{
    font-size: 10em;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 0.9em;
    transform: translateY(-100%);
    transition: transform 1s;
    grid-row-start: 1;
    grid-row-end: 3;
}
.slider .list .item .content p{
}
.slider .list .item .content p:last-child{
    display: flex;
    justify-content: start;
    align-items: end;
    padding-bottom: 25px;
}
/* item default */
.slider .list .item .image{
    flex-shrink: 0;
    width: var(--diameter);
    height: var(--diameter);
    background-image: var(--url);
    background-size: var(--diameter) var(--diameter);
    background-position: center;
    border-radius: 50%;
    transform: rotate(-60deg);
    position: relative;
    transition: 1s;
}
.slider .list .item .image::before, 
.slider .list .item .image::after{
    position: absolute;
    width: 70%;
    height: 70%;
    content: '';
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  rotate(-120deg);
    background-image: 
    linear-gradient(to right, #0004, #0004),
    var(--url);
    background-size: var(--diameter) var(--diameter);
    background-position: center;
    transition: 1s;
}
.slider .list .item .image::after{
    width: 30%;
    height: 30%;
    background-image: var(--url);
    border: 3px solid #fff2;
    transform: translate(-50%, -50%) rotate(-170deg);
}

/* default  */
.slider .list .item .image{
    filter: blur(30px);
}

.slider .list .item{
    pointer-events: none;
    opacity: 0;
}
/* item active */
.slider .list .item.active{
    pointer-events: auto;
    opacity: 1;
}
.slider .item.active .image{
    filter: blur(0px);
    transform: rotate(0deg);
}
.slider .item.active .image::before,
.slider .item.active .image::after
{
    transform: translate(-50%, -50%) rotate(0deg) ;
}
.slider .list .item.active .content h2{
    transform: translateY(0);
}

/* item phía sau */
.slider .list .item.active ~ .item{
    opacity: 0;
}
.slider .item.active ~ .item .image{
    transform: rotate(60deg);
}
.slider .item.active ~ .item .image::before
{
    transform: translate(-50%, -50%) rotate(120deg) ;
}
.slider .item.active ~ .item .image::after
{
    transform: translate(-50%, -50%) rotate(170deg) ;
}
.slider .list .item.active ~ .item .content h2{
    transform: translateY(100%);
}
/* arrows */
.arrows{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: var(--width-default);
    display: flex;
    justify-content: space-between;
}
.arrows button{
    all: unset;
    cursor: pointer;
}
.slider .list::after{
    position: absolute;
    content: '';
    bottom: 0;
    width: min(1000px, 100vw);
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(img/IMG20240317181441-removebg-preview.png);
    background-size: cover;
    background-position: top;
    pointer-events: none;
    animation: showModel 1s ease-in-out 1 forwards;
}
@keyframes showModel{
    from{
        transform: translateX(-50%) scale(1.3) translateY(88px);
    }
}

.arrows button.d-none{
    opacity: 0;
    pointer-events: none;
}
@media all and (max-width: 1024px) {
    .slider .list .item .content{
        grid-template-columns: repeat(2, 300px);
        padding-top: 30px;
    }
    .slider .list .item .content h2{
        font-size: 8em;
    }
}
@media all and (max-width: 767px) {
    .slider .list .item .content{
        grid-template-columns: 80%;
        justify-content: center;
        gap: 20px;
        top: 70px;
        padding-top: 30px;
    }
    .slider .list .item .content h2{
        font-size: 4em;
    }
    .slider .list .item .content p{
        font-size: large;
       
    }
}























/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}



/* For medium devices */


/* @media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); 
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);

  }
  .nav__link:hover {
    color: var(--first-color);
  }
} */

/* For large devices */


  /* Fix for background not covering full height */
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
    z-index: var(--z-fixed); /* Ensure it's visible on top of other elements */
  }

